@import ../../styles/settings

.section
  max-width: 1099px
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

  .right
    display: flex
    align-items: center
    gap: 32px

    .userInfo
      border-left: 1px solid $border
      height: 32px
      display: flex
      align-items: center
      padding-left: 32px
      gap: 12px
      font-family: $m
      font-weight: 600

    .icons
      display: flex
      gap: 28px

      img
        cursor: pointer
